# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.venv/
venv/
env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter & notebook checkpoints
.ipynb_checkpoints/

# Local datasets
data/

